@charset "UTF-8";

body {
    margin: 0px;
    background-color: black;
    position: absolute;
    left:0px; top:0px; right:0px; bottom:-100px;
}

.full {
    position: fixed;
    left:0px; top:0px; right:0px; bottom:0px;
    margin: auto;
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    left:0px; top:0px; right:0px; bottom:0px;
    margin: auto;
}

#canvas {
    min-width: 320px;
    min-height: 320px;
}

#debug {
    display: none;
    position: fixed;
    right:0px; top:0px;
    line-height: 0px;
    font-size: 0px;
    opacity: 0.7;
}
body.debug #debug {
    display: block;
}
